<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jobeth.blog.mapper.RoleMapper">

    <insert id="insertUserRole">
        insert into t_users_roles(user_id, role_id)
        values (#{userId}, #{roleId})
    </insert>

    <delete id="deleteRoleByUserId" parameterType="long">
        delete
        from t_users_roles
        where user_id = #{userId}
    </delete>

    <insert id="insertRoleMenu">
        insert into t_roles_menus_permissions(role_id, perm_id)
        values (#{roleId}, #{menuId})
    </insert>

    <delete id="deleteRoleMenuAndPermByRoleId">
        delete
        from t_roles_menus_permissions
        where role_id = #{roleId}
    </delete>

    <select id="listAll" resultType="com.jobeth.blog.po.Role" parameterType="com.jobeth.blog.dto.RoleDTO">
        select r.id, r.name, r.remark, r.create_time, r.update_time, r.enabled, r.status
        from t_role r
        <if test="userId !=null and userId!=''">
            left join t_users_roles ur on r.id = ur.role_id
        </if>
        <where>
            <if test="userId !=null and userId!=''">
                and ur.user_id = #{userId}
            </if>
        </where>
    </select>
</mapper>
